* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --white-100: #FFF;
    --white-200: #C1C1C1;
    --black-100: #121214;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    padding: 3.2rem 0 6.4rem;
    background-image: url(../img/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: var(--black-100);
    font-size: 1.6rem;
}