* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-100: #FFF;
    --white-200: #C1C1C1;
    --black-100: #121214;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black-100);
}